/* MEDIAQUERIES */

/* TABLET */ 

@media(max-width: 1023px){

    /*SECCION BLOG PRINCIPAL*/

    .blogs-main-news-post .blogs-news-container{
        display: block;
        padding: 2rem 4rem;
    }

    .blogs-post-container{
        padding: 2rem 2.5rem 4rem 2.5rem;
    }

    /*SECCION 1 IMAGE*/

    .blogs-main-news-post .blogs-news-container .blogs-news-title-image-container{
        width: 100%;
    }

    /*SECCION 2 INFORMATION*/

    .blogs-news-info-title-description-button-container{
        width: 100%;
    }

    .blogs-news-info-title-description-button-container .blogs-news-title-description-button-container{
        margin-top: 2.5rem;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        overflow: auto;
    }

    /*SECCION CONTACT*/

    .blog-main-contact-container .blog-general-contact-like-container .blog-contact-like-container{
        justify-content: center;
        width: 100%;
    }

    .blog-main-contact-container .blog-general-contact-like-container .blog-contact-like-container:first-child{
        margin-bottom: 1.5rem;
    }

    /*FOOTER*/
    
    .footer-container .copyright-container p{
        padding: 2rem 2.5rem;
    }

}

@media(max-width: 767px){

    /*INDEX*/

    .main .main-cover-title-button-container h1{
        font-size: 3rem;  
    }

    /*SECCION CONTACT*/

    .blogs-main-detalle-post .blogs-detalle-post-title-info-container{
        padding: 0 4rem;
    }

    .blog-main-contact-container .blog-general-contact-like-container{
        padding: 6rem 4rem;
    }
    
}